body {
  background-image: url(./pexels-photo-1267700.webp);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.mx-5:hover {
  cursor: pointer;
}

.article-container {
    background-image: url(./pexels-elevate-1267359.jpg);
    background-size: cover;
    background-position: center;

}

.media{

font-size: 35px;

}